#div1{
    width: 170.92px;
    height: 230px;
    display: inline-block;
} 

#div2{
    width: 170.92px;
    height: 230px;
    display: inline-block;
}

#div3{
    width: 170.92px;
    height: 230px;
    display: inline-block;
}

#div4{
    width: 170.92px;
    height: 230px;
    display: inline-block;
}

#div5{
    width: 170.92px;
    height: 230px;
    display: inline-block;
}

#div6{
    width: 170.92px;
    height: 230px;
    display: inline-block;
}